.container {
  max-width: 1300px;
}
.navbar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  background-color: cornflowerblue;
}
.cart-icon {
  position: relative;
}
.cart-badge {
  color: red;
  background-color: white;
  width: 20px;
  display: inline-block;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 50px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
}
i.fs-4 {
  font-size: 2rem !important;
}
/* sidebar */
.sidebar {
  position: fixed;
  top: 0;
  right: -400px; /* hidden */
  width: 300px;
  height: 100vh;
  background: rgb(68, 67, 67);
  transition: right 0.3s ease;
  z-index: 999;
  overflow-y: auto;
}

.sidebar.show {
  right: 0; /* visible */
}

.sidebar-inner {
  padding: 20px;
  position: relative;
}
.sidebar-inner button {
  position: absolute;
  right: 0;
  top: 0;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 2rem;
  font-weight: bold;
}
.sidebar-inner .card {
  background-color: transparent;
  color: white;
}
